[run]
source = mfsetup
[report]
omit = /Users/aleaf/Documents/GitHub/flopy/*
       /Users/aleaf/Documents/GitHub/sfrmaker/*
       /Users/aleaf/Documents/GitHub/gisutils/*
       mfsetup/_version.py
    
