include Readme.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include mfsetup/_version.py
include mfsetup/mfnwt_defaults.yml
include mfsetup/mf6_defaults.yml

# If including data files in the package, add them like:
# include path/to/data_file
